################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XIVSlothCombo/obj/x64/Debug
/.vs/CustomXIVComboForFriends/v17/.suo
/.vs/XIVSlothCombo/FileContentIndex
/XIVSlothCombo/obj
/.vs/XIVSlothCombo/DesignTimeBuild
/.vs/ProjectEvaluation
